* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background: #f0f0f0;
  color: #000;
  line-height: 1.6;
}

/* Header */
header {
  background: #2E0839;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  align-items: center;
}

.logo img {
  width: 170px;
  height: auto;
}

/* Hero Sección */
.hero {
  position: relative;
  background:#000 url("portada.png") center/cover no-repeat;
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0; 
  /*backdrop-filter: blur(1px);*/
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.hero .texto {
  max-width: 847px;
}

.hero h1 {
  font-family: 'Jersey 10', cursive;
  color: #A4E828;
  font-size: 100px;
  font-weight: normal;
  margin-bottom: 0.1rem;
}

.hero p {
  margin-bottom: 15rem;
  margin-bottom: 3rem; 
  font-size: 32px;
  font-family: 'Kanit', sans-serif;
  color: white;
}
.hero .cta {
  margin-top: 0.5rem; 
}

.cta a.boton-link {
  display: inline-block;
  margin-top: 0; 
}

.hero .cta a.boton-link {
  background-color: #A4E828;
  color: #000000 ;
}

.boton-link {
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  font-size: 1.9rem;
  padding: 1rem 2rem; 
  text-decoration: none;
  border-radius: 10px; 
  display: inline-block;
  margin-top: 1rem;

}

/* Beneficios */
.beneficios {
  background:#000 url("fondo.png") center/cover no-repeat;
  padding: 10rem 2rem;
  text-align: center;
}

.beneficios h2 {
  font-family: 'Jersey 10', cursive;
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 8rem;
  color: #fff;
}

.beneficios-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  max-width: 1000px;
  margin: 0 auto;
}

.beneficio {
  display: flex;
  align-items: center;
  background-color: #0B1057;
  color: #fff;
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem; 
  padding: 1.5rem; 
  border-radius: 10px;
  text-align: left;
  height: auto; 
}

.beneficio .icono {
  width: 90px;   /* Aumentado */
  height: 90px;  /* Aumentado */
  background-color: #fff;
  border-radius: 50%;
  margin-right: 1.5rem;
  flex-shrink: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.beneficio .icono img {
  width: 65px;  
  height: 65px;
  object-fit: contain;
}


/* Últimos videos */

.ultimos-videos {
  background-color: #0B1057;
  color: white;
  position: relative;
}

#ultimos-videos{
    padding: 64px 72px 120px 72px;
}

.ultimos-videos h2 {
  font-family: 'Jersey 10', cursive;
  font-weight: normal;
  text-align: center;
  font-size: 64px;
}

/* Contenedor del carrusel */
.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 64px;
}

/* Botones de flechas */
.carousel-btn {
  background-color: rgb(56, 5, 98);
  border: none;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 2;
  padding: 1rem;
  position: static;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}


.carousel-btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.carousel-btn.left {
  left: 3rem;
  top: 10rem;
}

.carousel-btn.right {
  right: 3rem;
  top: 10rem;
}

/* Scroll horizontal */
.videos-scroll-wrapper {
  display: flex;
  overflow-x: auto;
  gap: 2rem;
  padding: 24px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  width: 95%;
}

.videos-scroll-wrapper::-webkit-scrollbar {
  display: none;
}

.video-card {
  scroll-snap-align: center;
  flex: 0 0 auto;
  width: 500px;
  border-radius: 16px;
  padding: 1rem;
  text-align: center;
}

.video-card iframe {
  width: 100%;
  height: 280px;
  border-radius: 12px;
  border: none;
}

.video-card p {
  font-family: 'Kanit', sans-serif;
  margin-top: 0.75rem;
  font-size: 24px;
  color: #fff;
}


/* Invitados */
.invitados {
  padding: 10rem;
  background:#000 url("fondo.png") center/cover no-repeat;
}

.invitados h2 {
  color: #ffffff;
  font-family: 'Jersey 10', cursive;
  font-weight: normal;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 7rem;
}

.cards-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-inline: 1rem;
}

.cards-container::-webkit-scrollbar {
  display: none;
}

.card {
  background-color: #0B1057;
  border-radius: 1rem;
  padding: 5.5rem 1.5rem 1.5rem; 
  font-family: 'Kanit', sans-serif;
  min-width: 80%;
  flex-shrink: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  scroll-snap-align: start;
  position: relative; 
  overflow: visible; 
}


.card .img-wrapper {
  position: absolute;
  top: -95px; 
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 180px;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}


.card h3 {
  font-size: 1.3rem;
  margin: 0.5rem 0 0;
  font-weight: bold;
   color: #ffffff;
}

.card .cargo {
  font-size: 1.1rem;
  color: #ffffff;
  margin: 0.3rem 0;
}

.card .descripcion {
  font-size: 1rem;
  color: #ffffff;
  margin-top: 0.5rem;
}



/* Interés */
.interes {
  /*background-color: #0B1057;*/
  background: #000 url("./fondo-intereses-dsk-compr.png") center/cover no-repeat;
  text-align: center;
  padding: 5% 2%;
  height: 80%;
}

.texto-interes{
  background-color: #0B1057;
  margin: 2% 7%;
  padding: 5% 10%;
  border-radius: 20px;
}

.interes h2 {
  font-family: 'Jersey 10', cursive;
  font-weight: normal;
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.interes p {
  font-family: 'Kanit', sans-serif;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #ffffff;
}

.interes ul {
  list-style: none;
  padding: 0;
  text-align: left;
  max-width: 580px;
  margin: 0 auto 2rem;
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
}

.interes li {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 3rem; 
}

.interes li::before {
  content: '';
  position: absolute;
  left: 0; 
  top: 0.15rem; 
  width: 35px;
  height: 35px;
  background-image: url('check.png');
  background-size: cover;
  background-repeat: no-repeat;
}


/* FORMULARIO */
.formulario {
  display: flex;
  background: #380562;
  font-family: 'Jersey 10', cursive;
  font-weight: normal;
  color: #fff;
  /*padding: 8rem 4rem;*/
  gap: 4rem;
  /*justify-content: center;*/
  align-items: center;
  flex-wrap: wrap;
}

.form-img {
  background-color: #555;
  width: 944px; 
  height: 688px;
  flex-shrink: 0;
  background-image: url("./img-form-final.png");
  background-size: cover;
  background-position: center;
  /*border-radius: 10px;*/
}

.form-box {
  max-width: 500px;
  flex: 1;
  margin-left: 10%;
}

.form-box h2 {
  margin-bottom: 3rem;
  font-size: 64px; 
  line-height: 1;
}

.form-box form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form-box input {
  padding: 0.8rem 1rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
}

.form-box button {
  background-color: #A4E828;
  color: #000;
  padding: 0.9rem 1rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  font-size: 24px;
  transition: background-color 0.3s;
}



/* FEEDBACK*/
.feedback p{
  font-family: 'Kanit', sans-serif;
  /*margin-bottom: 1.5rem;*/
  font-size: 24px;
  color: #000;
  margin-left: 20px;
  margin-bottom: 90px;
}

.feedback a{
  font-family: 'Kanit', sans-serif;
  font-size: 24px;
  color: #000;
  display: block;
  margin-left: 20px;
  margin-bottom: 8px;
  text-align: center;
}

.lista-iconos{
  list-style: none;
  padding: 0;
  margin: 20px;
  align-items: center;
}
.lista-iconos li{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.lista-iconos li::before {
  content: "";
  display: inline-block;
  left: 20px;
  top: 5px;
  width: 16px; /* tamaño deseado */
  height: 16px;
  background-image: url('./enlace.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.feedback h2{
  color: #000;
  text-align: left;
  margin: 64px 20px;
}

.oculto{
  display: none !important;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #A4E828;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#icono-cerrar{
  /*position: relative;
  left: 80%;*/
  text-align: right;
  cursor: pointer;
}

/* Footer */
.footer {
  background-color: #2E0839;
  color: #fff;
  padding: 1.5rem;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-left,
.footer-right {
  flex: 1;
  padding: 1rem;
  min-width: 280px;
}

.footer h1 {
  font-family: 'Jersey 10', cursive;
  font-weight: normal;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.redes a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 8px;
  margin: 0 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border: 2px solid rgb(255, 255, 255);
}


.redes a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icon-youtube {
  background-color: #FF0000;
}
.icon-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.icon-X {
  background-color: #000000;
}
.icon-facebook {
  background-color: #3b579d;
}
.icon-spotify {
  background-color: #1fd660;
}

.redes a:hover {
  transform: scale(1.2) translateY(-4px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.footer-links a {
  font-family: 'Kanit', sans-serif;
  color: #fff;
  text-decoration: none;
  display:inline-block;
}

.footer-links h4 {
  font-family: 'Kanit', sans-serif;
  font-weight: normal;
  margin: 0.3rem 0;
}

.footer-imgs {
  margin-bottom: 2rem;
  display: flex;
  gap: 2rem;
}

.footer-logo {
  height: 60px;
  border-radius: 10px;
  object-fit: contain;
  margin-left: -10.5px;
}



/* Responsive */
@media (max-width: 768px) {

  /* header */
  .logo img{
    width: 116px;
  }

  /* hero*/
  .hero h1{
    font-size: 46px;
    margin-bottom: 0px;
  }
  .hero p {
   font-size: 20px;
  }
  .boton-link {
   font-size: 20px;
  }

  /* Beneficios*/
  .beneficios {
   background:#000 url("./fondo-mobile.jpg");
   background-size: 100%;
   padding: 20px;
  }
  .beneficios h2 {
   font-size: 32px;
   margin-bottom: 32px;
  }
  .beneficios-grid {
   display: block;
   gap: 32px;
  }

  .beneficio {
  display: flex;
  align-items: center;
  font-size: 16px; 
  height: 91px; 
  margin-bottom: 32px;
  }

  .beneficio .icono {
  width: 68px; 
  height: 68px; 
  }

  .beneficio .icono img {
  width: 56px;  
  height: 56px;
  }

 /* Ultimos episodios */
  #ultimos-videos{
    padding: 32px 20px 64px 20px;
  }
  .ultimos-videos h2 {
   text-align: center;
   font-size: 32px;
  }
  .carousel-wrapper{
    padding: 0px;
  }
  .carousel-btn {
   border: none;
   color: white;
   font-size: 16px;
   padding: 3px;
   width: 30px;
   height: 30px;
  }
  .video-card {
    width: 80vw;
  }
  .video-card iframe {
    height: 200px;
  }
  .video-card p {
   font-size: 16px;
  }
  /* Conocenos */

  /* Intereses */
 .texto-interes{
  background-color: #0B1057;
  margin: 20px 20px;
  padding: 20px;
 }
 .interes h2 {
  font-size: 48px;
 }
 .interes p {
  margin-bottom: 8px;
  font-size: 20px;
  text-align: left;
 }
 .interes ul {
  max-width: 324px;
  margin: 0px;
 }
 .interes li {
  font-size: 20px;
 }
 .interes li::before {
  width: 33px;
  height: 33px;
 }
  /* FORMULARIO */
 .formulario {
  display: block;
  padding-bottom: 10px;
 }
 .form-img {
  width: 393px;  
  height: 288px;
 }
 .form-box {
  max-width: 324px;
  margin: 24px 30px;
 }
 .form-box h2 {
  font-size: 36px; 
 }
 .form-box form {
  gap: 24px;
 }
 .form-box input {
  padding: 8px;
  font-size: 16px;
 }
 .form-box button {
  padding: 8px 1rem;
 }

 /* FEEDBACK */
 .feedback p{
  font-size: 16px;
  margin-bottom: 30px; 
 }
 .feedback a{
  font-size: 16px;
 }
 .feedback h2{
  color: #000;
  text-align: left;
  margin: 30px 20px;
 }
 #popup {
  padding: 20px;
  left: 30px;
  right: 10px;
  transform: translateY(-50%);
  max-width: 324px;
  width: auto;
 }
 #icono-cerrar{
  text-align: right;
  cursor: pointer;
 }
 #icono-cerrar img{
  width: 20px;
  height: 20px;
 }

 /* FOOTER */
 .footer {
  padding: 20px;
 }
 .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
 }
 .footer h1 {
  font-size: 36px;
 }
 .redes a {
  width: 42px;
  height: 42px;
 }
 .footer-links a {
  font-size: 12px;
 }
 .footer-links h4 {
  font-size: 12px;
 }
 .footer-imgs {
  display: block;
  margin-bottom: 0;
  margin-top: 16px;
 }

}

@media (min-width: 768px) {
  
  .cards-container {
    flex-wrap: wrap;
    overflow: visible;
    justify-content: space-between;
  }

  .card {
    flex: 0 1 22%;
    min-width: auto;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

}
